@page "/FAQ"

<div class="container">
    <h1 style="padding-bottom:2rem">Bienvenue a la FAQ</h1>
    Je vais mettre du contenu sous peu (peut etre)...<br /><br /><br />

    En attendant voila le  <a href="https://github.com/mermich/UserRequest">Repo github</a>.
</div>