@page "/topics"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using UserRequest.Shared
@attribute [Authorize]
@inject HttpClient Http

<h1>Topics</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (topics == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in topics)
            {
                <tr>
                    <td>@topic.Title</td>
                    <td>@topic.Text</td>
                    <td>@topic.Votes</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Topic[] topics;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            topics = await Http.GetFromJsonAsync<Topic[]>("Topic");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
