@page "/topicAdd"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using UserRequest.Shared
@attribute [Authorize]
@inject HttpClient Http
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container">
    <h1>Sujets ouverts</h1>
    <h3>Tous les sujets ouverts</h3>
    <h1>Faire une suggestion</h1>

    <EditForm Model="@topic" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <label>
                Titre:
                <InputText @bind-Value="topic.Title" />
            </label>
        </p>
        <p>
            <label>
                Description:
                <InputTextArea @bind-Value="topic.Text" />
            </label>
        </p>

        <button type="submit">Poster une idee</button>
    </EditForm>
</div>

@code {
    private Topic topic = new Topic();

    private void HandleValidSubmit()
    {
        // admintting it's valid.
        Http.PostAsJsonAsync<Topic>("api/Topic", topic);
    }
}