@page "/TopicList"
@using UserRequest.Shared
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory

<h1>Sujets</h1>
<h3>Derniers sujets crees par les internautes.</h3>

@if (topics == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var topic in topics)
    {
        <div class="card">
            <h5 class="card-header"><span><button @onclick="() => VoteTopic(topic.Id)">+1</button>Current count: @topic.Votes @topic.Title</span></h5>
            <div class="card-body">
                <p class="card-text">@topic.Text</p>
                <a href="/TopicDetails/@topic.Id">Details</a>
            </div>
        </div>
        <br>
    }
}

<ModalCancel @ref="modalCancel" title="Authentification Requise" Body="Seuls les utilisateurs connectes peuvent voter"></ModalCancel>

@code {
    private Topic[] topics;
    private int currentCount = 0;
    private bool showConfirmation;
    Microsoft.AspNetCore.Components.Authorization.AuthenticationState authState = null;

    bool showCancel = false;
    ModalCancel modalCancel;

    private void VoteTopic(int id)
    {
        if (authState != null && authState.User.Identity.IsAuthenticated)
        {
            var res = Http.PostAsJsonAsync<int>($"api/Topic/Vote?topicId={id}", id);
            res.ContinueWith((r) =>
            {
                topics.First(t => t.Id == id).Votes = r.Result.Content.ReadFromJsonAsync<int>().Result;
                StateHasChanged();
            });
        }
        else
        {
            modalCancel.ShowModal();
        }
    }


    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        topics = await client.GetFromJsonAsync<Topic[]>("api/Topic");
    }
}
